/** Defaults Start: End **/
body {
    margin: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a {
    background: transparent;
    text-decoration: none;
    color: #428bca;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}
b,
strong {
    font-weight: bold;
}
div img {
    outline: 0;
}
/** Defaults: End **/
/** Components Config: Start **/
.button-config {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.tab-link-config {
    display: table;
    padding: 5px;
}
.tab-link-config div {
    display: table-cell;
    vertical-align: middle;
}
.textBox-config {
    border: 0px;
    width: 96%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
/** Components Config: End **/
/** Component: Start **/
.image-div,
.tab,
.tab-link {
    position: relative;
}
.input-textBox-label:after {
    content: " : ";
}
.input-textBox {
    border: 0px;
    width: 96%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    min-width: 60px;
    width: 100%;
}
.default-text:after {
    content: ": ";
}
.default-text-original {
    display: none;
}
.tab {
    width: 100%;
}
.tab-link {
    display: table;
    padding: 5px;
    display: inline-block;
    float: left;
    width: 0px;
    height: 100%;
}
.tab-link div {
    display: table-cell;
    vertical-align: middle;
}
.button {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: center;
    display: table;
    cursor: pointer;
}
.button > div,
.button > span {
    display: table-cell;
    vertical-align: middle;
}
/** Component: End **/
/** Content: Start **/
.container-menu {
    position: fixed;
    height: 100%;
    width: 100%;
}
.separator-line-vertical,
.separator-line-horizontal {
    width: 100%;
    height: 100%;
    background: #000000;
    position: relative;
}
.separator-line-horizontal {
    height: 1px;
}
.separator-line-vertical {
    width: 1px;
}
/** Content: End **/
/** Position - Size: Start **/
.zero-size,
.full-size,
.dynamic-width-1,
.dynamic-width-2,
.dynamic-width-3,
.dynamic-width-4,
.dynamic-width-5,
.dynamic-width-6,
.dynamic-width-7,
.dynamic-width-8,
.dynamic-width-9,
.dynamic-width-10,
.dynamic-width-11,
.dynamic-width-12,
.dynamic-width-13,
.dynamic-width-14,
.dynamic-width-15,
.dynamic-width-16,
.dynamic-width-17,
.dynamic-width-18,
.dynamic-width-19,
.dynamic-width-20,
.dynamic-width-21,
.dynamic-width-22,
.dynamic-width-23,
.dynamic-width-24,
.dynamic-height-1,
.dynamic-height-2,
.dynamic-height-3,
.dynamic-height-4,
.dynamic-height-5,
.dynamic-height-6,
.dynamic-height-7,
.dynamic-height-8,
.dynamic-height-9,
.dynamic-height-10,
.dynamic-height-11,
.dynamic-height-12,
.dynamic-height-13,
.dynamic-height-14,
.dynamic-height-15,
.dynamic-height-16,
.dynamic-height-17,
.dynamic-height-18,
.dynamic-height-19,
.dynamic-height-20,
.dynamic-height-21,
.dynamic-height-22,
.dynamic-height-23,
.dynamic-height-24 {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
}
.zero-size {
    width: 0px;
    height: 0px;
}
.dynamic-width-1 {
    width: 4.16666666667%;
}
.dynamic-width-2 {
    width: 8.33333333333%;
}
.dynamic-width-3 {
    width: 12.5%;
}
.dynamic-width-4 {
    width: 16.6666666667%;
}
.dynamic-width-5 {
    width: 20.8333333333%;
}
.dynamic-width-6 {
    width: 25%;
}
.dynamic-width-7 {
    width: 29.1666666667%;
}
.dynamic-width-8 {
    width: 33.3333333333%;
}
.dynamic-width-9 {
    width: 37.5%;
}
.dynamic-width-10 {
    width: 41.6666666667%;
}
.dynamic-width-11 {
    width: 45.8333333333%;
}
.dynamic-width-12 {
    width: 50%;
}
.dynamic-width-13 {
    width: 54.1666666667%;
}
.dynamic-width-14 {
    width: 58.3333333333%;
}
.dynamic-width-15 {
    width: 62.5%;
}
.dynamic-width-16 {
    width: 66.6666666667%;
}
.dynamic-width-17 {
    width: 70.8333333333%;
}
.dynamic-width-18 {
    width: 75%;
}
.dynamic-width-19 {
    width: 79.1666666667%;
}
.dynamic-width-20 {
    width: 83.3333333333%;
}
.dynamic-width-21 {
    width: 87.5%;
}
.dynamic-width-22 {
    width: 91.6666666667%;
}
.dynamic-width-23 {
    width: 95.8333333333%;
}
.dynamic-width-24 {
    width: 100%;
}
.dynamic-height-1 {
    height: 4.16666666667%;
}
.dynamic-height-2 {
    height: 8.33333333333%;
}
.dynamic-height-3 {
    height: 12.5%;
}
.dynamic-height-4 {
    height: 16.6666666667%;
}
.dynamic-height-5 {
    height: 20.8333333333%;
}
.dynamic-height-6 {
    height: 25%;
}
.dynamic-height-7 {
    height: 29.1666666667%;
}
.dynamic-height-8 {
    height: 33.3333333333%;
}
.dynamic-height-9 {
    height: 37.5%;
}
.dynamic-height-10 {
    height: 41.6666666667%;
}
.dynamic-height-11 {
    height: 45.8333333333%;
}
.dynamic-height-12 {
    height: 50%;
}
.dynamic-height-13 {
    height: 54.1666666667%;
}
.dynamic-height-14 {
    height: 58.3333333333%;
}
.dynamic-height-15 {
    height: 62.5%;
}
.dynamic-height-16 {
    height: 66.6666666667%;
}
.dynamic-height-17 {
    height: 70.8333333333%;
}
.dynamic-height-18 {
    height: 75%;
}
.dynamic-height-19 {
    height: 79.1666666667%;
}
.dynamic-height-20 {
    height: 83.3333333333%;
}
.dynamic-height-21 {
    height: 87.5%;
}
.dynamic-height-22 {
    height: 91.6666666667%;
}
.dynamic-height-23 {
    height: 95.8333333333%;
}
.dynamic-height-24 {
    height: 100%;
}
.dynamic-left-1 {
    left: 4.16666666667%;
}
.dynamic-left-2 {
    left: 8.33333333333%;
}
.dynamic-left-3 {
    left: 12.5%;
}
.dynamic-left-4 {
    left: 16.6666666667%;
}
.dynamic-left-5 {
    left: 20.8333333333%;
}
.dynamic-left-6 {
    left: 25%;
}
.dynamic-left-7 {
    left: 29.1666666667%;
}
.dynamic-left-8 {
    left: 33.3333333333%;
}
.dynamic-left-9 {
    left: 37.5%;
}
.dynamic-left-10 {
    left: 41.6666666667%;
}
.dynamic-left-11 {
    left: 45.8333333333%;
}
.dynamic-left-12 {
    left: 50%;
}
.dynamic-left-13 {
    left: 54.1666666667%;
}
.dynamic-left-14 {
    left: 58.3333333333%;
}
.dynamic-left-15 {
    left: 62.5%;
}
.dynamic-left-16 {
    left: 66.6666666667%;
}
.dynamic-left-17 {
    left: 70.8333333333%;
}
.dynamic-left-18 {
    left: 75%;
}
.dynamic-left-19 {
    left: 79.1666666667%;
}
.dynamic-left-20 {
    left: 83.3333333333%;
}
.dynamic-left-21 {
    left: 87.5%;
}
.dynamic-left-22 {
    left: 91.6666666667%;
}
.dynamic-left-23 {
    left: 95.8333333333%;
}
.dynamic-left-24 {
    left: 100%;
}
.dynamic-offsetLeft-1 {
    margin-left: 4.16666666667%;
}
.dynamic-offsetLeft-2 {
    margin-left: 8.33333333333%;
}
.dynamic-offsetLeft-3 {
    margin-left: 12.5%;
}
.dynamic-offsetLeft-4 {
    margin-left: 16.6666666667%;
}
.dynamic-offsetLeft-5 {
    margin-left: 20.8333333333%;
}
.dynamic-offsetLeft-6 {
    margin-left: 25%;
}
.dynamic-offsetLeft-7 {
    margin-left: 29.1666666667%;
}
.dynamic-offsetLeft-8 {
    margin-left: 33.3333333333%;
}
.dynamic-offsetLeft-9 {
    margin-left: 37.5%;
}
.dynamic-offsetLeft-10 {
    margin-left: 41.6666666667%;
}
.dynamic-offsetLeft-11 {
    margin-left: 45.8333333333%;
}
.dynamic-offsetLeft-12 {
    margin-left: 50%;
}
.dynamic-offsetLeft-13 {
    margin-left: 54.1666666667%;
}
.dynamic-offsetLeft-14 {
    margin-left: 58.3333333333%;
}
.dynamic-offsetLeft-15 {
    margin-left: 62.5%;
}
.dynamic-offsetLeft-16 {
    margin-left: 66.6666666667%;
}
.dynamic-offsetLeft-17 {
    margin-left: 70.8333333333%;
}
.dynamic-offsetLeft-18 {
    margin-left: 75%;
}
.dynamic-offsetLeft-19 {
    margin-left: 79.1666666667%;
}
.dynamic-offsetLeft-20 {
    margin-left: 83.3333333333%;
}
.dynamic-offsetLeft-21 {
    margin-left: 87.5%;
}
.dynamic-offsetLeft-22 {
    margin-left: 91.6666666667%;
}
.dynamic-offsetLeft-23 {
    margin-left: 95.8333333333%;
}
.dynamic-offsetLeft-24 {
    margin-left: 100%;
}
.dynamic-top-1 {
    top: 4.16666666667%;
}
.dynamic-top-2 {
    top: 8.33333333333%;
}
.dynamic-top-3 {
    top: 12.5%;
}
.dynamic-top-4 {
    top: 16.6666666667%;
}
.dynamic-top-5 {
    top: 20.8333333333%;
}
.dynamic-top-6 {
    top: 25%;
}
.dynamic-top-7 {
    top: 29.1666666667%;
}
.dynamic-top-8 {
    top: 33.3333333333%;
}
.dynamic-top-9 {
    top: 37.5%;
}
.dynamic-top-10 {
    top: 41.6666666667%;
}
.dynamic-top-11 {
    top: 45.8333333333%;
}
.dynamic-top-12 {
    top: 50%;
}
.dynamic-top-13 {
    top: 54.1666666667%;
}
.dynamic-top-14 {
    top: 58.3333333333%;
}
.dynamic-top-15 {
    top: 62.5%;
}
.dynamic-top-16 {
    top: 66.6666666667%;
}
.dynamic-top-17 {
    top: 70.8333333333%;
}
.dynamic-top-18 {
    top: 75%;
}
.dynamic-top-19 {
    top: 79.1666666667%;
}
.dynamic-top-20 {
    top: 83.3333333333%;
}
.dynamic-top-21 {
    top: 87.5%;
}
.dynamic-top-22 {
    top: 91.6666666667%;
}
.dynamic-top-23 {
    top: 95.8333333333%;
}
.dynamic-top-24 {
    top: 100%;
}
.dynamic-offsetTop-1 {
    margin-top: 4.16666666667%;
}
.dynamic-offsetTop-2 {
    margin-top: 8.33333333333%;
}
.dynamic-offsetTop-3 {
    margin-top: 12.5%;
}
.dynamic-offsetTop-4 {
    margin-top: 16.6666666667%;
}
.dynamic-offsetTop-5 {
    margin-top: 20.8333333333%;
}
.dynamic-offsetTop-6 {
    margin-top: 25%;
}
.dynamic-offsetTop-7 {
    margin-top: 29.1666666667%;
}
.dynamic-offsetTop-8 {
    margin-top: 33.3333333333%;
}
.dynamic-offsetTop-9 {
    margin-top: 37.5%;
}
.dynamic-offsetTop-10 {
    margin-top: 41.6666666667%;
}
.dynamic-offsetTop-11 {
    margin-top: 45.8333333333%;
}
.dynamic-offsetTop-12 {
    margin-top: 50%;
}
.dynamic-offsetTop-13 {
    margin-top: 54.1666666667%;
}
.dynamic-offsetTop-14 {
    margin-top: 58.3333333333%;
}
.dynamic-offsetTop-15 {
    margin-top: 62.5%;
}
.dynamic-offsetTop-16 {
    margin-top: 66.6666666667%;
}
.dynamic-offsetTop-17 {
    margin-top: 70.8333333333%;
}
.dynamic-offsetTop-18 {
    margin-top: 75%;
}
.dynamic-offsetTop-19 {
    margin-top: 79.1666666667%;
}
.dynamic-offsetTop-20 {
    margin-top: 83.3333333333%;
}
.dynamic-offsetTop-21 {
    margin-top: 87.5%;
}
.dynamic-offsetTop-22 {
    margin-top: 91.6666666667%;
}
.dynamic-offsetTop-23 {
    margin-top: 95.8333333333%;
}
.dynamic-offsetTop-24 {
    margin-top: 100%;
}
.window-center-absolute,
.window-bottom,
.window-top {
    position: absolute;
}
.window-top {
    top: 0px;
}
.window-bottom {
    bottom: 0px;
}
.window-center-absolute {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.window-center-relative {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.window-right {
    float: right;
    right: 0;
}
.vertical-center {
    display: table;
}
.vertical-center > div,
.vertical-center > span {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
/** Position - Size: End **/
/** Shapes: Start **/
.vertical {
    position: relative;
    display: block;
}
.vertical > div {
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    width: 100%;
    display: block;
}
.horizontal {
    position: relative;
    display: inline-block;
}
.horizontal > div {
    display: inline-block;
    vertical-align: top;
}
.horizontal .window-center {
    display: block;
    margin-left: auto;
}
.gutter-small > div {
    margin-left: 1%;
}
.gutter-medium > div {
    margin-left: 2%;
}
.gutter-high > div {
    margin-left: 4%;
}
.gutter-symmetric-small > div {
    margin-left: 1%;
    margin-right: 1%;
}
.gutter-symmetric-medium > div {
    margin-left: 2%;
    margin-right: 2%;
}
.gutter-symmetric-high > div {
    margin-left: 4%;
    margin-right: 4%;
}
.gutter-absolute-small > div {
    margin-left: 2px;
}
.gutter-absolute-medium > div {
    margin-left: 5px;
}
.gutter-absolute-high > div {
    margin-left: 10px;
}
.gutter-absolute-symmetric-small > div {
    margin-left: 2px;
    margin-right: 2px;
}
.gutter-absolute-symmetric-medium > div {
    margin-left: 5px;
    margin-right: 5px;
}
.gutter-absolute-symmetric-high > div {
    margin-left: 10px;
    margin-right: 10px;
}
.gutter-small-vertical > div {
    margin-top: 2px;
}
.gutter-medium-vertical > div {
    margin-top: 5px;
}
.gutter-high-vertical > div {
    margin-top: 10px;
}
.gutter-symmetric-small-vertical > div {
    margin-top: 2px;
    margin-bottom: 2px;
}
.gutter-symmetric-medium-vertical > div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.gutter-symmetric-high-vertical > div {
    margin-top: 10px;
    margin-bottom: 10px;
}
.border-radius-left {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.border-radius-right {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.border-radius-top {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;
}
.border-radius-bottom {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 5px;
}
/** Shapes: End **/
/** Texts: Start **/
.text-left .text-center .text-right .text-justify {
    word-wrap: break-word;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-bold {
    font-weight: bold;
}
.text-mini {
    font-size: 8px;
}
.text-small {
    font-size: 11px;
}
.text-medium {
    font-size: 14px;
}
.text-high {
    font-size: 18px;
}
.error-text,
.success-text,
.warning-text {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    text-align: center;
}
.error-text {
    color: #888888;
    background: #000000;
}
.success-text {
    color: #888888;
    background: #000000;
}
.warning-text {
    color: #888888;
    background: #000000;
}
/** Texts: End **/
/** Shadows: Start **/
.box-shadow-high {
    box-shadow: 10px 10px 10px #888888;
}
.box-shadow-medium {
    box-shadow: 5px 5px 5px #888888;
}
.box-shadow-low {
    box-shadow: 3px 3px 3px #888888;
}
.text-shadow-high {
    text-shadow: 10px 10px 10px #888888;
}
.text-shadow-medium {
    text-shadow: 5px 5px 5px #888888;
}
.text-shadow-low {
    text-shadow: 3px 3px 3px #888888;
}
/** Shadows: End **/
/** OverFlow: Start **/
.overflow_auto {
    overflow: auto;
}
.overflow_hidden {
    overflow: hidden;
}
.overflow_vertical {
    overflow-y: auto;
    overflow-x: hidden;
}
.overflow_horizontal {
    overflow-y: hidden;
    overflow-x: auto;
}
/** OverFlow: End **/
.div-link {
    cursor: pointer;
}


/*
*
*
*
*       ANIMATED OBJECTS
*
*
*
*/

.animated-fast {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
}
.animated-normal {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
}
.animated-slow {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    transition-duration: 2s;
    -o-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
}
.delayed-short {
    transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
}
.delayed-normal {
    transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
}
.delayed-long {
    transition-delay: 3s;
    -o-transition-delay: 3s;
    -ms-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -webkit-transition-delay: 3s;
}
.inner-popup-menu-content {
    border-top: 1px solid #000000;
}
.inner-popup-menu-header {
    overflow: hidden;
}
.inner-popup-menu-header .inner-popup-menu-content {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    position: absolute;
    top: 100%;
    width: 100%;
}
.inner-popup-menu-header:hover .inner-popup-menu-content {
    top: 50%;
}
.accordion-menu {
    -webkit-transition-property: max-height;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    transition-property: max-height;
    transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: lenear;
    -moz-transition-timing-function: lenear;
    -ms-transition-timing-function: lenear;
    -o-transition-timing-function: lenear;
    transition-timing-function: lenear;
    transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    max-height: 30px;
    width: 100%;
    overflow: hidden;
}
.accordion-menu > .accordion-menu-header {
    min-height: 30px;
    width: 100%;
    z-index: 2;
}
.accordion-menu > .accordion-menu-content {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: lenear;
    -moz-transition-timing-function: lenear;
    -ms-transition-timing-function: lenear;
    -o-transition-timing-function: lenear;
    transition-timing-function: lenear;
    transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    max-height: 0px;
    position: relative;
    left: 0%;
    top: 100%;
    width: 100%;
    overflow: hidden;
    clear: both;
    opacity: 0;
    z-index: 1;
}
.accordion-menu:hover {
    max-height: 150px;
}
.accordion-menu:hover > .accordion-menu-content {
    max-height: 200px;
    top: 0%;
    opacity: 1;
    overflow: auto;
}
.overlay-menu .overlay-menu-header {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    width: 100%;
    height: 100%;
}
.overlay-menu .overlay-menu-content {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    color: #ffffff;
}
.overlay-menu:hover .overlay-menu-header {
    opacity: 0.6;
}
.overlay-menu:hover .overlay-menu-content {
    opacity: 1;
}

/*
*
*
*
*       THEME
*
*
*
*/
.input-textBox {
    border-radius: 5px;
    background: #e5e5e5;
}
.tab {
    border-radius: 5px;
}
.tab-link {
    border-radius: 5px;
    border: 1px solid #2f2f2f;
    /* background: #c5c5c5;*/
    background: #4e4e4e;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}
.tab-link:hover {
    border: 2px solid #7477ba;
    background: #c5c5c5;
}
.button {
    border-radius: 5px;
    border: 1px solid #2f2f2f;
    background: #4e4e4e;
    color: #ffffff;
}
.button:hover {
    border: 1px solid #7477ba;
    asdbackground: #c5c5c5;
    color: #ffffff;
}
.container-menu {
    /*background: #f1f1f1;;*/
    background: #e5e5e5;
}
.content-container {
    background: #242424;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    color: #000000;
    font-size: 11px;
    font-family: Sans-serif;
    font-weight: lighter;
}
.content-container .content {
    color: #808080;
}
.content-container .content:hover {
    color: #ffffff;
}
.content-container .content-div {
    position: relative;
    background: #e5e5e5;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    color: #000000;
}
.content-container > div .content-top-gutter {
    margin-top: 10px;
}
.content-container .content-divider-menu {
    border-color: #9d9d9d;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
}
.content-container .content-header {
    color: #e5e5e5;
}
.header-content {
    background: #242424;
    border: 1px solid #2f2f2f;
    color: #e5e5e5;
    z-index: 100;
    display: table;
    text-align: center;
}
.header-content > div,
.header-content > span {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.header-navigator {
    /* background: #41403e;*/
    background: #242424;
    border: 1px solid #2f2f2f;
    color: #e5e5e5;
    z-index: 100;
}
.header-navigator .header-component:hover {
    box-shadow: 3px 3px 3px #aaaaaa;
    border: 1px solid #4e4e4e;
}
.header-navigator .header-box-shadow {
    box-shadow: 3px 3px 3px #424242;
}
.header-navigator .header-title {
    font-size: 24px;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}
.header-navigator .header-login-menu {
    cursor: pointer;
    position: relative;
    margin-right: 15px;
    margin-top: 15px;
    float: right;
    font-size: 20px;
}
.header-navigator .header-login-menu > div {
    float: right;
}
.header-navigator .header-login-panel {
    position: relative;
    right: -16px;
    top: 100%;
    background: #242424;
    border: 1px solid #2f2f2f;
    color: #e5e5e5;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
    width: 250px;
    height: 150px;
}
.header-navigator .button {
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #2f2f2f;
    background: #4e4e4e;
    color: #a7a7a7;
}
.header-navigator .button:hover {
    border: 2px solid #7477ba;
    background: #c5c5c5;
    color: #ffffff;
}
.div-link {
    color: #a7a7a7;
}
.div-link:hover {
    color: #ffffff;
}
.separator-line-horizontal,
.separator-line-vertical {
    background: #a7a7a7;
}
.inner_popup {
    border-color: #a7a7a7;
}
