.separator-line-horizontal-text{
    &:before,
    &:after
    {
    border-bottom:5px solid orange;
    }
}

#wrapDiv{
  width:350px;
}

.menu {
  background: #1C1C1C;
  font-family: 'Michroma', sans-serif;
  color: rgba(255,255,255,.7);
}

.menuMain {
  color:orange;
}

.menuItem {
  transition: border .5s, background .2s, width .5s;
}
.menuItem:hover {
  background: transparent;
  color: orange;
}

.one {
  border-left: 6px solid orange;
}
.one:hover {
  border-left: 15px solid orange;
}



.separator-line-horizontal {
 background:orange;
}

.border-mini{
  border:2px solid orange;

}
.border-small{
  border:2px solid orange;

}
.border-medium{
  border:2px solid orange;

}
.border-large{
  border:2px solid orange;

}

.coreTable{

  display:table;
}


.coreTable-heading{

  font-weight: bold;
  text-align: center;
  background-color:#1C1C1C;
  color:white;

}

.coreTable-row-line{


  background-color:orange;
}

.coreTable-cell{

  display: table-cell;
  border: solid;
  border-width: thin;
  
}


.coreTable-row-hover:hover{
  background-color:orange;
}
