@import "framework";
@import "framework-animations";
.gradient(@direction,@startColor,@finishColor,@startRatio,@finishRatio) {
  background: -o-linear-gradient(bottom, @startColor @startRatio, @finishColor @finishRatio);
  background: -moz-linear-gradient(bottom, @startColor @startRatio, @finishColor @finishRatio);
  background: -webkit-linear-gradient(bottom, @startColor @startRatio, @finishColor @finishRatio);
  background: -ms-linear-gradient(bottom, @startColor @startRatio, @finishColor @finishRatio);
  background: linear-gradient(to bottom, @startColor @startRatio, @finishColor @finishRatio);
}

@bodyColor:rgb(235,235,235);

.color-bundle(@type,@concept,@mainCol,@textColor,@mainCol2,@textColor2,@cautionCol,@cautionTextColor,@buttonBackground,@buttonTextColor){

  .concept(@concept) when (@concept = "light") {
    @mainColCaution: darken(@mainCol,10%);
    @mainColBorder: darken(@mainCol,10%);
    @mainColHover: lighten(@mainCol,20%);
    @textColorHover: lighten(@textColor,10%);
    @buttonBackgroundHover: lighten(@buttonBackground,15%);
    @buttonBorderColor: lighten(@buttonBackground,10%);
    @buttonBorderColorHover: lighten(@buttonBackground,25%);
    @buttonTextColHover: darken(@buttonTextColor,20%);
    @cautionColHover: lighten(@cautionCol,25%);
    @cautionBorderCol: lighten(@cautionCol,10%);
    @cautionBorderColHover: lighten(@cautionCol,40%);
    @selectedBackground: darken(@buttonBackground,20%);
  }
  .concept(@concept) when (@concept = "dark") {
    @mainColCaution: lighten(@mainCol,10%);
    @mainColBorder: lighten(@mainCol,10%);
    @mainColHover: darken(@mainCol,20%);
    @textColorHover: darken(@textColor,10%);
    @buttonBackgroundHover: darken(@buttonBackground,15%);
    @buttonBorderColor: darken(@buttonBackground,10%);
    @buttonBorderColorHover: darken(@buttonBackground,25%);
    @buttonTextColHover: lighten(@buttonTextColor,20%);
    @cautionColHover: darken(@cautionCol,25%);
    @cautionBorderCol: darken(@cautionCol,10%);
    @cautionBorderColHover: darken(@cautionCol,40%);
    @selectedBackground: darken(@buttonBackground,20%);
  }

  .concept(@concept);

  .content-container@{type}{
    background: @mainCol;
    color: @textColor;
    line-height:17px;

    .content {color: @textColor;
      &:hover {color: @textColorHover;}
    }

    .content-div {
      position: relative;
      color: @textColor2;
      background: @mainCol2;
    }

    .content-div2{
      border: 1px solid @mainColBorder;
      color: @textColor;
    }

    .content-div-caution {
      background: @mainColCaution;
    }

    .content-divider-menu {
      border: 1px solid @mainColBorder;
      color: @textColor;
      border-radius: 3px;
    }

    .content-header {
      color: @textColor;
    }

    div{
      &:hover{
        >.header-content{
          background: @mainCol2;
          >* {
            color: @textColor2;
          }
        }
      }
    }

    .tab
    {
      .tab-link.tab-link-selected{
        border-bottom: 2px solid @mainCol2;
        &:hover{
          border-bottom: 2px solid @mainCol2;
        }
      }

      .tab-link{
        .animated-fast;
        border-bottom: 2px solid transparent;
        color: @textColor;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        .glyphicon:before {margin-right: 5px;}
        &:hover {

          background: @mainCol;
          color: @textColorHover;
          text-decoration: underline;
        }
      }
    }

    .button{
      .animated-fast;
      border: 1px solid @buttonBorderColor;
      background: @buttonBackground;;
      color: @buttonTextColor;
      border-radius: 2px;
      .glyphicon:before {margin-right: 5px;}
      &:hover {
        color: @buttonTextColHover;
        background: @buttonBackgroundHover;
        border: 1px solid @buttonTextColHover;
      }
      &:active{}
    }
    .button.button-caution{
      background: @cautionCol;
      border: @cautionBorderCol;
      color: @cautionTextColor;
      border-radius: 3px;
      &:hover{
        background: @cautionColHover;
        border: @cautionTextColor;
        color: @cautionTextColor;
      }
    }
    .button.button-selected{
      opacity: 1;
      background: @selectedBackground;
      color: @cautionTextColor;
      .glyphicon {
        color: @cautionTextColor;
      }
    }
    .button.button-active{}
    .button.button-disable{}

    .list-elem-colored,
    .list-elem-header,
    .list-elem-selected,
    .list-elem-resizable,
    .list-elem{}
    .list{
      .list-elem-header{}
      .list-elem{
        .animated-fast;
        img {opacity: 1;}
        &:hover{img{opacity: 0.7}}
      }

      .list-elem-colored{&:hover{background: @mainCol2;color: @textColor2;.div-link, .div-link2{color: @cautionTextColor}}}
      .list-elem-resizable{&:hover{font-size: 12px;}}
      .list-elem-selected{background: @cautionCol;}
    }

    .header-content{
      background: @mainCol2;
      color: @textColor2;
      .animated-fast;
      float: left;
      position: relative;
      height: 40px;
      width: 100%;
      display: table;
      text-align: center;
      >div, >span {
        display: table-cell;
        vertical-align: middle;
        float: none;
        color: @textColor;
      }
    }

    .div-link {
      color: @textColor;
      &:hover {
        color: @cautionCol;
      }
    }

    .div-link2 {
      color: @cautionCol;
      &:hover {
        color: @cautionColHover;
      }
    }

    .separator-line-vertical,
    .separator-line-horizontal {
      background: @mainColCaution;
    }

    .selected-image {
      border: 1px solid @cautionCol,30;
      opacity: 1;
    }
  }
}

//@type,@concept,@mainCol,@textColor,@mainCol2,@textColor2,@cautionCol,@cautionTextColor,@buttonBackground,@buttonTextColor
.color-bundle(1,"light", rgb(29, 29, 29), rgb(201, 201, 201), rgb(15, 15, 15), rgb(163, 163, 163),
  rgb(142, 142, 142), rgb(44, 44, 44), rgb(40, 40, 40), rgb(155, 155, 155));

.color-bundle(2,"light", rgb(34, 34, 34), rgb(205, 205, 205),
  rgb(94, 94, 94), rgb(157, 157, 157),
  rgb(142, 142, 142), rgb(44, 44, 44),
  rgb(34, 34, 34), rgb(205, 205, 205));

.content-container1 {
  .color-bundle(2,"light", rgb(34, 34, 34), rgb(205, 205, 205),
    rgb(94, 94, 94), rgb(157, 157, 157),
    rgb(142, 142, 142), rgb(44, 44, 44),
    rgb(34, 34, 34), rgb(205, 205, 205));
}

.content-container2 {
  .color-bundle(1,"light", rgb(34, 34, 34), rgb(205, 205, 205),
    rgb(0,0,0), rgb(44, 44, 44),
    rgb(142, 142, 142), rgb(44, 44, 44),
    rgb(34, 34, 34), rgb(205, 205, 205));
}
/** Manipulations:Start **/



/** Manipulations:End **/
input[type="text"], input[type="password"],input[type="time"], input[type="date"], select, textarea{
  border-radius: 4px;
  border: 1px solid rgb(244,244,244);
  outline: 0px;
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
}


body{
  font-family: 'Open Sans', sans-serif;
  background: @bodyColor;
}

.input-textBox {
  border-radius: 3px;
  height: 26px;
  outline: 0px;
}

.image-div {}

.container-menu {
  background: @bodyColor;
  font-family: 'Open Sans', sans-serif;
}

.content-container{
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.inner_popup{
  border-color:#a7a7a7;
}

.text-warning {
  color: #ff0000;
  font-weight: bold;
}

.error-text {
  color: #888888;
  background: #000000;
}

.success-text {
  color: #888888;
  background: #000000;
}

.warning-text {
  color: #888888;
  background: #000000;
}


